pandas
numpy
openpyxl
Langchain
openai
torch
transformers
langchain
langchain-community
huggingface_hub
langchain-huggingface
langchain-classic
streamlit
unstructured
python-magic
faiss-cpu
sentence-transformers
tiktoken
protobuf
langchain_experimental
mysql-connector-python
pymysql
chromadb
unstructured[pdf]
pytesseract
pdf2image
pillow
fitz
pymupdf
pdfplumber
wikipedia