--extra-index-url https://download.pytorch.org/whl/cpu

torch
sentence-transformers

pandas
numpy
openpyxl
Langchain
langchain
langchain-community
huggingface_hub
langchain-huggingface
langchain-classic
streamlit
langchain_experimental
mysql-connector-python
pymysql
chromadb
cryptography